.daily-forecast {
  width: 100%;
  min-width: 500px;
  height: 100%;
  background-color: rgb(190, 116, 116);
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.daily-forecast div {
  width: 100%;
}

.daily-forecast .location {
  font-size: 2rem;
  padding: 0 1rem;
  font-weight: bold;
}

.daily-forecast .icon {
  width: 100%;
}

.daily-forecast .temp {
  font-size: 1.5rem;
  font-weight: bold;
}

.skeleton.location {
  width: 120px;
  height: 18px;
  padding: 1rem;
  justify-self: center;
}

.skeleton.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-self: center;
}

.skeleton.temp {
  width: 60px;
  height: 24px;
  justify-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.skeleton.description {
  width: 100px;
  height: 16px;
  justify-self: center;
  padding: 0.5rem;
}
