.forecast-tile {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  text-align: center;

  padding: 0.2rem;
  scroll-snap-align: start;
}

.forecast-tile:hover {
  background-color: rgb(147, 186, 209);
  cursor: pointer;
  color: #fff;
}

.date,
.actual {
  font-weight: bold;
}
.day {
  align-self: center;
  justify-items: start;
}
