.forecast-tile {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  place-items: center;

  text-align: center;

  padding: 0.2rem;
  scroll-snap-align: start;
}

.forecast-tile:hover {
      background-color: rgb(147, 186, 209);
      cursor: pointer;
      color: #FFF;
}

.date {
  font-weight: bold;
}
