.forecast-tile {
    width: 130px;
    height: 100%;
    background-color: rgb(104, 186, 233);
    border-radius: 4px;

    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1.5fr;
    place-items: center;

    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    padding: 0.2rem;
    scroll-snap-align: start;
}


.date {
    font-weight: bold;
}

