.condition-tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 250px;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.condition-tile .title {
  justify-self: start;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  grid-column: 1 / 3;
}

.condition-tile .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-row: 2 /3;
  grid-column: 1 / 3;
  place-items: center;
  text-align: center;
  justify-items: center;
}

.condition-tile .value {
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
}
.condition-tile .description {
  color: #666;
}

.condition-tile .icon {
  place-self: center;
  width: 50%;
}

.condition-tile .icon.skeleton {
  width: 6rem;
  height: 6rem;
}

.condition-tile .title.skeleton {
  display: inline-block;
  width: 10rem;
  height: 1.5rem;
  margin: 0.25rem;
}
.condition-tile .value.skeleton {
  display: inline-block;
  width: 7rem;
  height: 1.2rem;
  margin: 0.25rem;
}
.condition-tile .description.skeleton {
  display: inline-block; 
  width: 5rem;
  height: 1.2rem;
}
